.grid {
  display: grid;

  @media (min-width: 766px) {

    &.grid-three-columns {
      grid-template-columns: 1fr 1fr 1fr;
    }  
  }
}

.boxrow {

  .box {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: auto;

    @media (max-width: 765px) {

      max-width: 300px;
      padding-bottom: 2rem;

      .box-content {
        background-image: none;

        .box_thumb {
          width: auto;
        }
      }
    }
  }
}

.box_3 {

  .box_content {
    background: url(../../../kiddo-turf-parent/images/box_sprite.png) -313px -98px no-repeat #fff!important;
    background-position: -626px -98px!important;
  }
}

// video section
.container .c-box-white--update {
  top: auto;
  margin-bottom: 2rem;
}

.video-links {
  display: flex;
  flex-direction: column;
  justify-content: center;


  a {
    margin: 1rem auto;
    padding: 0 2rem;
  }
}

// other
.container {

  .big_button_box--no-bg .btn_custom {
    font-size: 1.5em;
  }
}

// weird boxes
.weird-box {
  background-color: #fff;
  padding: 1em;
  border-radius: 15px;
  position: relative;

  &.box_circle_date {

    .ribbon {
      width: 141px;
      height: 177px;
      position: absolute;
      top: -3px;
      left: 24px;
      z-index: 2;
      text-align: center;
  
      .ribbon-text {
        width: 6ch;
        color: #fff;
        margin: 3.3em auto 0;
        font-size: 1.1rem;
        line-height: 100%;
      }
    }
  }

  &.box_circle_photo {

    .ribbon {
      width: 141px;
      height: 177px;
      position: absolute;
      top: -3px;
      left: 24px;
      z-index: 2;
      text-align: center;
    }

    .box_content {
      margin: 0;
    }
  }

  h3 {
    margin: .5em 0;
    font-size: 1.6rem;
  }

  .link-more {
    font-size: 1.3rem;
    color: #3db0d3;

    &:hover {
      color: #f86625;
    }
  }
}

.grid-weird-box {
  grid-template-columns: .65fr 1fr;
}

.grid-gap-1em {
  grid-gap: 1em;
}

.grid-gap-2em {
  grid-gap: 2em;
}

























