.grid {
  display: grid;

  @media (min-width: 766px) {

    &.grid-three-columns {
      grid-template-columns: 1fr 1fr 1fr;
    }  
  }
}

.boxrow {

  .box {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: auto;

    @media (max-width: 765px) {

      max-width: 300px;
      padding-bottom: 2rem;

      .box-content {
        background-image: none;

        .box_thumb {
          width: auto;
        }
      }
    }
  }
}

.box_1 {

  .box_content {
    background-position: 0 -101px!important;
    background-size: 960px!important;
  }
}

.box_3 {

  .box_content {
    background: url(../../../kiddo-turf-parent/images/box_sprite.png) -313px -98px no-repeat #fff!important;
    background-position: -626px -98px!important;
  }
}

// video section
.container .c-box-white--update {
  top: auto;
  margin-bottom: 2rem;
}

.video-links {
  display: flex;
  flex-direction: column;
  justify-content: center;


  a {
    margin: 1rem auto;
    padding: 0 2rem;
  }
}

// other
.container {

  .big_button_box--no-bg .btn_custom {
    font-size: 1.5em;
  }
}

// weird boxes
.weird-box-container {
  margin-bottom: 1em;
}

.weird-box {
  background-color: #fff;
  padding: 1em;
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  min-height: 200px;

  &.box_circle_date {

    .ribbon {
      width: 141px;
      height: 177px;
      position: absolute;
      top: -3px;
      left: 24px;
      z-index: 2;
      text-align: center;
  
      .ribbon-text {
        width: 6ch;
        color: #fff;
        margin: 3.3em auto 0;
        font-size: 1.1rem;
        line-height: 100%;
      }
    }
  }

  &.box_circle_photo {
    margin-left: auto;

    .ribbon {
      width: 141px;
      height: 177px;
      position: absolute;
      top: -3px;
      left: 24px;
      z-index: 2;
      text-align: center;

      img {
        width: auto;
        height: 103px;
      }
    }

    .box_content {
      margin: 0;
      margin-right: 1rem;
    }

    p {
      height: auto;
    }
  }

  h3 {
    margin: .5em 0;
    font-size: 1.6rem;
  }

  .link-more {
    font-size: 1.3rem;
    color: #3db0d3;

    &:hover {
      color: #f86625;
    }
  }
}

.grid-weird-box {
  grid-template-columns: .65fr 1fr;
}

// weird box responsive
@media (max-width: 765px) {

  .weird-box {
    max-width: 100%;
    overflow: hidden;
    min-height: 0px;

    &.box_circle_date .ribbon .ribbon-text {
      margin: 1.9em 0 0 1em;
      font-size: .7rem
    }

    &.box_circle_photo .ribbon {
      text-align: left;

      img {
        height: 60px;
      }
    } 

    .grid-weird-box {
      grid-template-columns: .5fr 1fr;
    }
  }
}




.grid-gap-1em {
  grid-gap: 1em;
}

.grid-gap-2em {
  grid-gap: 2em;
}


// register events table page
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.table-wrapper {
  overflow: auto;
}

.table {
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  padding:5px;
  width: 100%;
  margin-bottom: 2em;
  white-space: nowrap;

  caption {
    text-align: left;
  }
}
.table th {
  border:1px solid #C0C0C0;
  padding:5px;
  background:#F0F0F0;
}
.table td {
  border:1px solid #C0C0C0;
  padding:5px;
}





















