.grid {
  display: grid;
}
@media (min-width: 766px) {
  .grid.grid-three-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.boxrow .box {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  width: auto;
}
@media (max-width: 765px) {
  .boxrow .box {
    max-width: 300px;
    padding-bottom: 2rem;
  }
  .boxrow .box .box-content {
    background-image: none;
  }
  .boxrow .box .box-content .box_thumb {
    width: auto;
  }
}

.box_1 .box_content {
  background-position: 0 -101px !important;
  background-size: 960px !important;
}

.box_3 .box_content {
  background: url(../../../kiddo-turf-parent/images/box_sprite.png) -313px -98px no-repeat #fff !important;
  background-position: -626px -98px !important;
}

.container .c-box-white--update {
  top: auto;
  margin-bottom: 2rem;
}

.video-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-links a {
  margin: 1rem auto;
  padding: 0 2rem;
}

.container .big_button_box--no-bg .btn_custom {
  font-size: 1.5em;
}

.weird-box-container {
  margin-bottom: 1em;
}

.weird-box {
  background-color: #fff;
  padding: 1em;
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  min-height: 200px;
}
.weird-box.box_circle_date .ribbon {
  width: 141px;
  height: 177px;
  position: absolute;
  top: -3px;
  left: 24px;
  z-index: 2;
  text-align: center;
}
.weird-box.box_circle_date .ribbon .ribbon-text {
  width: 6ch;
  color: #fff;
  margin: 3.3em auto 0;
  font-size: 1.1rem;
  line-height: 100%;
}
.weird-box.box_circle_photo {
  margin-left: auto;
}
.weird-box.box_circle_photo .ribbon {
  width: 141px;
  height: 177px;
  position: absolute;
  top: -3px;
  left: 24px;
  z-index: 2;
  text-align: center;
}
.weird-box.box_circle_photo .ribbon img {
  width: auto;
  height: 103px;
}
.weird-box.box_circle_photo .box_content {
  margin: 0;
  margin-right: 1rem;
}
.weird-box.box_circle_photo p {
  height: auto;
}
.weird-box h3 {
  margin: 0.5em 0;
  font-size: 1.6rem;
}
.weird-box .link-more {
  font-size: 1.3rem;
  color: #3db0d3;
}
.weird-box .link-more:hover {
  color: #f86625;
}

.grid-weird-box {
  grid-template-columns: 0.65fr 1fr;
}

@media (max-width: 765px) {
  .weird-box {
    max-width: 100%;
    overflow: hidden;
    min-height: 0px;
  }
  .weird-box.box_circle_date .ribbon .ribbon-text {
    margin: 1.9em 0 0 1em;
    font-size: 0.7rem;
  }
  .weird-box.box_circle_photo .ribbon {
    text-align: left;
  }
  .weird-box.box_circle_photo .ribbon img {
    height: 60px;
  }
  .weird-box .grid-weird-box {
    grid-template-columns: 0.5fr 1fr;
  }
}
.grid-gap-1em {
  grid-gap: 1em;
}

.grid-gap-2em {
  grid-gap: 2em;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.table-wrapper {
  overflow: auto;
}

.table {
  border: 1px solid #C0C0C0;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
  margin-bottom: 2em;
  white-space: nowrap;
}
.table caption {
  text-align: left;
}

.table th {
  border: 1px solid #C0C0C0;
  padding: 5px;
  background: #F0F0F0;
}

.table td {
  border: 1px solid #C0C0C0;
  padding: 5px;
}

/*# sourceMappingURL=custom.css.map */
